<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Feedback Slider</title>
  <link rel="stylesheet" href="/src/css/4-feedbacks.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/jquery.raty.css" />
</head>
<body>
  <section class="feedback-section">
    <div class="swiper-container">
      <div class="swiper-wrapper" id="feedback-wrapper"></div>
    </div>
     <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    <div class="swiper-pagination custom-pagination"></div>
  </section>

 
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/jquery.raty.min.js" defer></script>
</body>
</html>


