/* === Загальна секція === */
.feedback-section {
  background-color: #0d0d0d; 
  padding: 60px 20px;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* === Контейнер Swiper === */
.swiper-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

/* === Слайд === */

.swiper-container {
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}

/* === Зірки === */


/* === Текст відгуку === */
.feedback-text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* === Ім’я автора === */
.feedback-author {
  font-size: 14px;
  color: #c2c2c2;
}

/* === Стрілки навігації === */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  background: white;
 
}

/* === Пагінація (три крапки) === */
.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.custom-pagination .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.3s ease;
}

.custom-pagination .dot.active {
  background-color: #ffffff;
}



.feedback-rating{
  display: flex;
  justify-content: center;
  align-items: center;
}

  