.feedback-section {
  background-color: #0d0d0d;
  padding: 60px 20px;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Контейнер Swiper */
.swiper-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Картка відгуку */
.feedback-card {
  text-align: center;
}

/* Текст */
.feedback-text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 30px;
}

.feedback-author {
  font-size: 14px;
  color: #c2c2c2;
}

/* Зірки */
.feedback-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.feedback-rating img {
  width: 20px;
  height: 20px;
  filter: hue-rotate(200deg) saturate(400%);
}



/* Пагінація */

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  
}

.custom-pagination .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.3s ease;
}

.custom-pagination .dot.active {
  background-color: #ffffff;
}


/* Видаляємо дефолтні стрілки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.swiper-button-next{
    margin-right: 64px;
}
.swiper-button-prev{
    margin-left: 64px;
}


.swiper-button-prev,
.swiper-button-next{
    border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding-left: 8px;
padding-right: 8px;
background: #060307;
}


@media (max-width: 768px) {
  .swiper-container{
    max-width: 518px;
    max-height: none;
  }
  .feedback-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .feedback-rating svg {
    width: 18px;
    height: 18px;
  }

  .custom-pagination {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-container {
    padding: 0 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
  display: none !important;
 }
 .custom-pagination{
  margin-top: 20px;
 }

 .feedback-card {
  /* padding: 20px 120px; */
}
}


@media (min-width: 769px){
  .feedback-card {
  padding: 20px 120px;
 } 
};