html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #060307;
}

.epilogue-font {
  font-family: 'Epilogue', sans-serif;
}
